body{
    background: #f2f2f2;
}

p{
    padding: 40px;
    margin: 40px;
    background: #fff;

    &.solid{
        border: 5px solid #000;
    }
    &.dotted{
        border: 5px dotted #000;
    }
    &.dashed{
        border: 5px dashed #000;
    }
    &.double{
        border: 5px double #000;
    }
    &.groove{
        border: 30px groove #ff0000;
    }
    &.ridge{
        border: 30px ridge #ff0000;
    }
    &.inset{
        border: 30px inset lightblue;
    }
    &.outset{
        border: 30px outset lightblue;
    }
    &.none{
        border: none;
    }

    &.transparent{
        border: 10px solid transparent;
    }
    &.transparent:hover{
        border: 10px solid #000;
    }

    &.radius{
        border: 10px solid transparent;
        border-radius: 100px;
    }
    &.radius:hover{
        border: 10px solid lightblue;
        border-radius: 100px
    }


}