body {
  background: #f2f2f2;
}

.card {
  background: #fff;
  width: 400px;
  height: 200px;
  margin: 60px;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;

  &.card-1 {
    box-shadow: 0px 0px 40px 0px #000;
  }
  &.card-2 {
    box-shadow: 0px 0px 0px 10px #000;
  }

  /* CSS SCAN: https://getcssscan.com/css-box-shadow-examples*/
  &.card-3 {
    transition: 0.3s ease all;
    &:hover {
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
  }
}
