/* SELECTOR UNIVERSAL */
/* *{
    background-color: rgb(145, 207, 228);
} */

/* SELECTOR DE TIPO */
/*h1{
    color: rgb(255, 0, 0);
}*/

/* SELECTOR DE GRUPOS */
h1,h2,h3,h4{
    color: rgb(255, 0, 0);
}

/* SELECTOR DESENDENTE */
main p{
    font-size: 18px;
    
}

main p a{
    color: aqua
}

/* SELECTOR DE CLASE */
.enlace{
    color: green;
    font-weight: bold;
}

header .enlace{
    font-size: 20px;
}