body{
    background: #f2f2f2;
}

.contenedor{
    width: 500px;
    height: 500px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #000;
    /* OVERFLOW: 
        - visible(por defecto, muestra el tal cual el contenido desbordado del div)
        - auto(muestra barras de desplazamiento si el contenido desborda el div)
        - hidden(oculta el contenido que desborda el div)
        - scroll()
        */
    overflow: auto;
}