body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.tabla{
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /*Por si la tabla no cabe en la pantalla, nos va apermitir tener un scroll para poder ver el contenido*/
    th,
    tr, 
    td{
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    thead{
        background: #00293f;
        
        th{
            color: #fff;
            padding: 10px 0;
        }
    }

    tbody{
        tr{
            background: #fff;
            &:nth-child(even){
                background: #f2f2f2;
            }
            &:hover{
                background: #e2e4f6;
            }
        }
    }
}