button{
    background: #000;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 30px 60px;
    margin: 40px;
    border-radius: 10px;

    /*

    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;

     FUNCIONES DE TIEMPO  
        ease - inicio lento, desupes rapido y termina lento
        linear - misma velocidad desde el incio hasta el final
        ease-in - inicio lento.
        ease-out - final lento.
        ease-in-out - Inico lento y final lento.
        cubic-bezier(n,n,n,n) - funcion de tiempo personalizada

    */

    transition: all 300ms ease;





    &:hover{
    background: #841592;
    transform: scale(1.1);
    }
}
