.caja{
    display: inline-block;
    width: 200px;
    height: 200px;
    font-size: 24px;
    background: #728ef1;
    border-radius: 5px;
    margin: 10px;
    vertical-align: top;
    
    box-sizing: border-box;

    &.padding{
        padding: 20px;
    }
    &.borde{
        border: 10px solid #1f114e;
    }
}