*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.caja{
    background: #1062ff;
    color: #fff;
    padding: 40px;
    font-size: 24px;
    border-radius: 5px;
    

}

.contenedor{
    width: 90%;
    max-width: 1000px;
    border: 2px solid #000;
    margin: 40px auto;
    padding: 40px;

    /*Para trabajar con Flexbox, debemos centrarnos en el contenedor*/
    display: flex;
    gap: 40px; /*Espaciado entre las cajas*/
    
   
    /*flex-direction: row; Acomoda las cajas en una sola linea*/
    flex-direction: row; /*Acomoda las cajas en una sola columna*/

    flex-wrap: wrap;/* Permite que las cajas se envuelvan en la siguiente linea*/
    /* flex-flow: row wrap;*/


    height: 90vh;
    justify-content: space-around;

    /*
        justify-content
        Nos permite establecer el alineado de los elementos y distribuir el espaciado sobrante

        Valores: center | flex-start | flex-end | space-between | space-around | space-evenly

    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    
    */
    height: 90vh;
   

    /*
        align-items
        Nos va a permitir cambiar el alineado de todos los elementos dentro del contenedor

        Valores: strech | start | center | end |

    justify-content: end;
    align-items: end;

      flex-direction: column;
    align-items: center;
    */


    /*
        aling-content
        Nos va a permitir cambiar el alineado de los elementos dentro del contenedor cuando hay mas de una linea, por ejemplo cuando tengamos felx wrap
    */
    
    /* align-content: start; */
    /* flex-wrap: wrap; */

  
    
    



    
}