.clientes {
    
    

    .logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .logo {
            border-radius: 5px;
            max-width: 180px;
            width: 100%;

            /* img {
                width: 100%;
                height: 100%;
            } */

             @media screen and (max-width: 768px) {
                & {
                    max-width: 130px;
                }
            
        }
        }
    }
}