.footer {
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 60px;

        .link {
            background: var(--shade-2);
            display: flex;
            gap: 10px;
            align-items: center;       
            padding: 10px 15px;
            border-radius: 100px;
            color: var(--shade-7);
            transition: 0.3s ease all;
            text-decoration: none;

            .icono {
                width: 20px;
                height: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &:hover {
                color: #fff;
            }

            &.youtube:hover {
                background: #FF0000;
            }

            &.linkedin:hover {
                background: #0A66C2;
            }

            &.instagram:hover {
                background: #E1306C; 
            }

            &.facebook:hover {
                background: #1877F2;
            }
            
        }

       
    }

     .copyright {
            color: var(--shade-4);
            text-align: center;
            font-size: 14px;
        }
}