.hero {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    border-radius: 20px ;
    overflow: hidden;
    color: #fff;
    position: relative;
    padding: 120px 80px;

    .contenido {
        position: relative;
        z-index: 2;
        width: 50vw;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
 
    &::after {
        content: '';
        position: absolute; /*El contenedor por encima de nuestro hero*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(6,25,52,1), rgba(29, 65, 125, 0.6));
        z-index: 1;
    }

    .titulo{
        font-family: 'Marriweather', serif;
        font-size: 50px;
        font-weight: 700;

        span{
            display: block;
        }
    }

    .subtitulo {
        line-height: 26px;
        color: var(--shade-3);
    }



}