.trabajos {
    .filtros {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        label {
            display: flex; /*para que sea un conetenedor cada label*/
        }

        .opcion {
            padding: 10px 20px;
            border-radius: 100px;
            cursor: pointer;
            border: 1px solid var(--shade-3);
            color: var(--shade-6);
        }

        input[type='radio'] {
            display: none;

            &:checked+.opcion { /*acceder a su estado checked y a su hermano que tenga la clase .opcion le damos estilos*/
                background: var(--primario);
                color: #fff;
                border: 1px solid transparent;
            }

        }

        @media screen and (max-width: 992px) {
            &{
                gap: 10px;
            }
            
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;

        .trabajo {
            .thumb {
                width: 100%;
                display: inline-block;
                border-radius: 5px;
                overflow: hidden;
                img {
                    width: 100%;
                    vertical-align: top ;

                    transform: scale(110%);
                    transition: 0.5s ease all;
                }
            }

            &:hover img{
                transform: scale(100%);

            }


            .info {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
            }
        }
    }


}