* {
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  .logo {
    text-align: center;
    padding: 30px;
    color: #fff;
    background: #1e212b;
  }
}

.menu {
  background: #14171e;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  padding: 7px 0;
  position: sticky;
  top: 0;
  left: 0;
  
  a{
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    
    &:hover{
        background: #4d8b21;
        color: #fff;
    }
  }
}

main {
  width: 1000px;
  margin: auto;

  .titulo {
    margin-bottom: 20px;
  }
  .post {
    p {
      line-height: 30px;
    }
  }
}
