@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";

@theme {
    --font-sans: "roboto", serif;
    --font-sefit: "Merriweather", serif;
    --font-titulo: "Oswald", sans-serif;

    /* VARIABLES */
    --color-primario: #62a87c;
    --color-secundario: #7ee081;


    /* //VARIABLES */
    --color-detalles-100: #8447ff;
    --color-detalles-200: #4b00e0;
    
}
