* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 700px;
    margin: 50px auto;

    .mensaje {
        margin-bottom: 40px;

        h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }

    .formulario {
        width: 100%;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(99,99,99, 0.2) 0px 0px 8px 0px;
    }

    .grupo {
        margin-bottom: 20px;
    }

    input, textarea, button {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;

        &:hover {
            border: 1px solid transparent;
            outline: 2px solid #be9dff;
        }

        &:focus {
            outline: 2px solid #6320ee;
        }
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 14px;

        .leyenda {
            font-style: italic;
            color: #8e8e8e;
            font-size: 12px;

            
        }
    }

    .radio{
        display: inline-block;
        background: #f3edfd;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;

        input{
            width: auto;

            &:focus{
                outline: none;
            }
            &:checked+span{
                color: #6320ee;
            }
        }

        &:hover{
            background: #e5d9fc;
            input{
                outline: none;
            }
        }

    
    }

    textarea{
        height: 200px;
        min-height: 200px;
        max-height: 300px;
        resize: vertical;
        min-width: 100%;
        max-width: 100%;
    }
    button[type='submit']{
        display: inline-block;
        background: #6320ee;
        border: none;
        padding: 10px 15px;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;

        &:hover{
            background: #7c41f1;
        }

    }

    
}