
/* ESTILOS GLOBALES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES QUE VAMOS A USAR DENTRO DEL SITIO */
:root {
    --shade-1: #F2F2F2;
    --shade-2: #D9D9D9;
    --shade-3: #BFBFBF;
    --shade-4: #A6A6A6;
    --shade-5: #8C8C8C;
    --shade-6: #737373;
    --shade-7: #595959;
    --shade-8: #404040;
    --shade-9: #0D0D0D;
    --shade-10: #000000;
    --primario: #D83A3A;
}

body{
    font-family: "Inter", sans-serif;
    background: var(--shade-1);
    color: var(--shade-9);
    &.dark {
        background: var(--shade-9);
        color: var(--shade-4);
    }
}

a{
    text-decoration: none;
    color: var(--shade-8);
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }

    .dark &{
        color: var(--shade-4);
    }
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}