.footer {
    background: var(--azul-secundario);
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    /* Como el footer es el contenedor del NAV y los LINKS, queremos que este uno a la izquierda y otro a la derecha. */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 20vw;
            max-width: 100px;
        }

        p {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;

        }
    }
    

    .links {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        a {
            color: #fff;
        }
        
    }


    @media screen and (max-width: 576px) {
        & {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;

            .logo {
                align-items: center;
                order: 2;
            }

            .links {
                justify-content: center;
                order: 1;
            }
        }
        
    }
}