*,
*::affer,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: "Gabarito", sans-serif;
    display: flex;
    justify-content: center;
}

.grid{
    width: 90%;
    max-width: 1000px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 90vh;

    .titulo{
        font-size: 30px;

    }

}

.header{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between; /*tanto el LOGO como el NAV, quedan tanto a la izq como derecha.*/
    padding: clamp(5px, 3vw, 10px ) clamp(10px, 3vw, 20px); /*padding: 10px 20px; */
    gap: clamp(10px, 3vw, 20px); /*gap: 20px;*/
    align-items: center; /*alinea el NAV y el Logo de forma vertical */

    .logo{
        font-size: clamp(30px, 5vw, 50px); /*font-size: 50px;*/
    }

    nav{
        display: flex;
        gap: clamp(10px, 3vw, 20px);

        a{
            text-decoration: none;
            color: #531cb3;
            font-size: clamp(10px, 3vw, 20px);
       
        }
    }

   @media screen and (max-width:500px) { /*Lo que hacemos es que si la pantalla es menor a 500px, entonces...*/
    &{
        flex-direction: column; /*que en lugar de que el nav este repartido de esquina a esquina, pues que quede CENTRADO EN UNA SOLA COLUMNA*/
        
    }
    
   }
    
}

.main{
    grid-column: 1 / span 2;
    background: #fff;
    padding: 20px;
    color: #000;
    border-radius: 10px;


    p{
        line-height: 30px; /*interlineado del parrafo */
    }

    .boton{
        display: inline-block;
        background: #531cb3;
        color: #fff;
        padding: 15px;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;

    }

    @media screen and (max-width: 750px) {
        &{
            grid-column: 1 / -1;
            align-items: stretch;

        }
        
    }

    
}

.aside{
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:750px) {
        grid-column: 1 / -1;
        min-height: 200px;
        
    }
}


.widgets{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*grid-template-columns: repeat(3, 1fr);*/
    gap: 20px;

    .widget{
        background: #ccc;
        min-height: 100px;
        border-radius:10px ;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}


.footer{
    grid-column: 1 / -1;
    padding: 40px 0;
    text-align: center;
    color: #929292;

    /* display: flex;
    flex-direction: column;
    gap: 10px; */

}

/* .footer .titulo {
    margin-bottom: 0px; 
}

.footer p {
    margin-top: 0;
} */