*,
*::affer,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: "Gabarito", sans-serif;
    display: flex;
    justify-content: center;
}

.grid{
    width: 90%;
    max-width: 1000px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 90vh;

    .titulo{
        font-size: 30px;

    }

}

.header{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between; /*tanto el LOGO como el NAV, quedan tanto a la izq como derecha.*/
    padding: 10px 20px; 
    gap: 20px;
    align-items: center; /*alinea el NAV y el Logo de forma vertical */

    .logo{
        font-size: 50px;
    }

    nav{
        display: flex;
        gap: 20px;

        a{
            text-decoration: none;
            color: #531cb3;
            font-size: 20px;
       
        }
    }
    
}

.main{
    grid-column: 1 / span 2;
    background: #fff;
    padding: 20px;
    color: #000;
    border-radius: 10px;


    p{
        line-height: 30px; /*interlineado del parrafo */
    }

    .boton{
        display: inline-block;
        background: #531cb3;
        color: #fff;
        padding: 15px;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;

    }
}

.aside{
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}


.widgets{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .widget{
        background: #ccc;
        min-height: 100px;
        border-radius:10px ;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}


.footer{
    grid-column: 1 / -1;
    padding: 40px 0;
    text-align: center;
    color: #929292;

    /* display: flex;
    flex-direction: column;
    gap: 10px; */

}

/* .footer .titulo {
    margin-bottom: 0px; 
}

.footer p {
    margin-top: 0;
} */