.contenedor-header{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

header{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .logo{
        /* display: inline-block; */
        background: var(--azul-secundario);
        padding: 20px;
        width: auto;
        height: 70px;
        border-radius: 10px 0px 0px 0px ;
        position: relative;

        img{
            height: 100%;
        }

        /*psedudoelemento before*/
        &::before{
            content: '';
            display: block;
            width: 100%;
            background: var(--azul-secundario);
            height: 20px;
            position: absolute; /*position hijo (absolute) para poder posicionar el rectangulo*/
            bottom: -20px;
            left: 0;
        }

        /*psedudoelemento after*/
        &::after{
            content: '';
            display: block;
            position: absolute;/*position hijo (absolute) para poder posicionar el triangulo*/
            border-top: 70px solid transparent;
            border-right:70px solid transparent;
            border-bottom: 90px solid var(--azul-secundario) ;
            right: -69.99px;
            top: -69.99px;

        }

    }

    .navbar{
        display: flex;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        a{
            display: inline-flex;
            gap: 10px;
            align-items: center;
            font-weight: 700;
            border-radius: 5px;

            &.boton{
                font-weight: 500;
            }
    
        }
    }

    

  




}