.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;

    /**/
    grid-template-areas:
        'header    header    header    header'
        'body     body       body      sidebar'
        'body     body       body      sidebar'
        'footer   footer     footer    footer';

}

.header{
    /* grid-column: 1 / 5; */
    grid-area: header;

}

.body{
    /* grid-column: 1 / 4; */
    /* grid-row: span 2; */
    grid-area: body;
}

.sidebar{
    /* grid-row: span 2; */
    grid-area: sidebar;
}

.footer{
    /* grid-column: 1 / -1; */
    grid-area: footer;
}

