/*Estilos generales para reutilizar en todos los capitulos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    

}

.contenedor-principal{
    width: 90%;
    max-width: 800px;
 
}

.grid{
    border: 1px solid #000;
}

.caja{
    border: 1px solid #000;
    background: #fff;
    padding: 40px;
    text-align: center;
    font-size: 24px;
}