*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    font-family: "Roboto", sans-serif;
    background-image: url(../img/kai.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    /*Fondo blur*/
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(50px);
        z-index: -1;
    }
}

.contenedor{
    /*background: #ccc;*/
    width: 90%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;

    .bio{

        text-align: center;
        margin-bottom: 20px;
        .foto{
            width: 100px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100px;
            margin-bottom: 12px;
        }

        .nombre{
            margin-bottom: 5px;
            font-size: 24px;
        }

        .descripcion{
            font-size: 14px;
        }
    }

    .links{
        .link{
            color: #000;
            border: 3px solid #000;
            border-radius: 10px;
            display: block;
            padding: 12px 16px;
            margin-bottom: 12px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            transition: 0.2s ease all;
            box-shadow:
            1px 1px 0 0 black,
            2px 2px 0 0 black,
            3px 3px 0 0 black,
            4px 4px 0 0 black,
            5px 5px 0 0 black;
            transform: translate(-5px, -5px);
            width: 100%;
            max-width: 100%;

            &:hover{
                color:#fff;
                box-shadow:0px 0px 0px 0px black;
                transform: translate(0px, 0px);
            }

            &.sitio-web:hover{
                background: #0066CC;
                color: #fff;
            }

            &.github:hover{
                background: #24292e;
                color: #fff;
            }

            &.instagram:hover{
                background: #E4405F;
                color: #fff;
            }

            &.facebook:hover{
                background: #1877F2;
                color: #fff;
            }

            &.youtube:hover{
                background: #FF0000;
                color: #fff;
            }
            
        }
        
    }
}

