body{
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    margin: 40px 0;

    @media screen and (max-width:1000px) {
        &{ /*& representa el body*/
            background: #111111;
            color: #fff;
        }
        
    }
}

.grid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    h3{
        font-size: 32px;
    }

    img{
        width: 100%;
    }

    @media screen and (max-width: 1000px) {
        &{
            grid-template-columns: repeat(2, 1fr);

            a{
                color: red;
            }
        }  
    }
    @media screen and (max-width:500px) {
        &{
            grid-template-columns: 1fr;

            a{
                color: red;
            }
        }
        
    }

}   