*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;

}



.contenedor{
    background: #ccc; 
    width: 90%;
    max-width: 500px;
    margin: 40px 0;

    .card{
        background: #fff;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden; 

        img{
            width: 100%;
            max-height: 250px; 
            object-fit: cover; 
        }

        .textos{
            padding: clamp(10px, 3vw, 20px); /* padding: 20px;*/

            h3{
                
                font-size: clamp(20px, 3vw, 50px);/* font-size: 50px; */
                margin-bottom:10px ;
            }

            p{
                font-size: clamp(16px, 3vw, 20px);/* font-size: 20px; */
                margin-bottom: 20px;
            }

            a{
                background: #000;
                color: #fff;
                text-decoration: none;
                display: inline-block; 
                padding: clamp(5px, 3vw, 10px) clamp(15px, 3vw, 30px); /* padding:10px  30px; */
                font-size: clamp(16px, 3vw, 20px); /* font-size: 20px; */
                border-radius: clamp(2px, 3vw, 5px ); /* border-radius: 5px; */
                

            }


        }
        
    }
    
}


