* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 40px;
    color: #848484;
}

button {
    border: none;
    background: #2553df;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    padding: 14px 28px;
    margin-bottom: 20px;
}

button:hover{
    background: #1942be;
}