body {
  background: #f2f2f2;
}

.contenedor {
  margin: auto;
  width: 1000px;
  padding: 20px 0;
}

button, a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in all;

  &.boton-1 {
    background: #531be0;
    color: #fff;
    &:hover {
      background: #703bf6;
    }
  }
  &.boton-2 {
    background: #fa6400;
    color: #fff;
    border-radius: 100px;

    &:hover {
      transition: 0.3s ease all;
      box-shadow: blue 0px 0px 0px 2px inset,
        rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px,
        rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px,
        rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px,
        rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    }
  }
  &.boton-3 {
    background: none;
    color: #000;
    border-radius: 7px;
    border: 2px solid currentColor;

    &:hover {
      background: #000;
      color: #fff;
      border: 2px solid #000;
    }
  }

  &.boton-4 {
    color: #fff;
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #eaafc8,
      #654ea3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #eaafc8,
      #654ea3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 5px;

    &:hover {
      background: #654ea3; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to top,
        #eaafc8,
        #654ea3
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to top,
        #eaafc8,
        #654ea3
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  &.boton-5{
    background: #077307;
    color: #fff;
    box-shadow: 5px 5px #055805;
    &:hover{
        box-shadow: 2px 2px #055805;
    }
  }
  &.boton-6{

  }
  &.boton-7{
    color: #5839ac;
    text-decoration: none;
    border-radius: 3px;
    &:hover{
        background: #d4d0df;
    }
  }



}






button:focus 
a:focus{
  outline: 1px rgba(0, 0, 0, 1) solid;
}
